body{
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

header{
    background-image: url("../img/grass.jpg");
    color: white;
    text-align: center;
    height: 150px;
    padding-top: 40px;
    background-size: 1000px;
}

header a{
    color: white;
}

#seccion1 p{
    margin-bottom: 250px;

}

#Float{
    background-color: lightgoldenrodyellow;
    padding-right: 100px;
    padding-bottom: 50px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 5px;
    float: right;
    border: 5px black solid;
    height: 300px;
    width: 50px;
    text-align: justify;
}

#seccion2{
    display: flex;;
}

#seccion2 p{
    text-align: justify;
}

#footer{
    display: grid;
    grid-template-areas: "perrito nombre email"
                         "perrito tlf fecha"   ;
    text-align: center;
    grid-template-columns: 250px auto auto;
    background-color: lightgray;
}

.texto_1{
    grid-area: nombre;
}
.texto_2{
    grid-area: email;
}
.texto_3{
    grid-area: tlf;
}
.texto_4{
    grid-area: fecha;
}

#perrito{
    grid-area: perrito;
    height: 300px;
    width: 250px;
}

@media (max-width: 800px) {

    #seccion2{
        flex-wrap: wrap;
    }

    #footer{
        grid-template-columns: auto;
        grid-template-areas: "perrito nombre"
                             "perrito email"
                             "perrito tlf"
                             "perrito fecha";
    }

    body {
        max-width: 100%;
        margin: 0px;
    }



}